<a href="https://colab.research.google.com/github/ajayaram92/Satalite-Prediction/blob/main/Satalite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:

import requests
import pandas as pd
import numpy as np

In [8]:
url = "https://raw.githubusercontent.com/ajayaram92/Satalite-Prediction/main/Database.csv"
df = pd.read_csv(url)
df = df.drop(["objID"], axis = 1)

In [12]:
print(df.loc[20])

Longitude      77.7444
Latitude       19.1653
B1              1531.5
B10               13.5
B11               2380
B12               1983
B2              1372.5
B3                1308
B4                1507
B5                1499
B6              1672.5
B7              1854.5
B8                1761
B8A             1963.5
B9               456.5
pH                 8.7
pH Category       SlAl
EC               0.958
EC Category          N
OC               1.064
OC Category         VH
N                320.3
N Category           M
P                16.87
P Category           M
K                  221
K Category           M
S                140.3
S Category           S
Zn                 2.3
Zn Category          S
Fe                5.39
Fe Category          S
Cu                0.45
Cu Category          S
Mn                2.34
Mn Category          S
B                 0.34
B Category           D
Name: 20, dtype: object

In [36]:
def cleaning(df, column):
  column_names = df.columns
   
  new_columns= (list(column_names[0:15])) 
  new_columns.append(column)
  #new_columns.append(str(column + " Category"))
  new_pd = df[new_columns].dropna().reset_index()
  new_pd = new_pd.drop(["index"], axis = 1)
  return((new_pd))

data = cleaning(df, "pH")
print(data)

      Longitude   Latitude      B1   B10  ...      B8     B8A     B9    pH
0     77.812500  18.751111  1482.0  21.0  ...  1464.5  1705.5  393.5  7.25
1     77.433900  18.351600  1409.5  15.5  ...  1338.5  1495.0  352.0  7.18
2     77.433900  18.350800  1415.0  16.0  ...  1334.5  1579.5  365.0  7.63
3     77.558857  18.314899  1377.0  25.5  ...  1090.0  1247.0  323.5  7.48
4     78.018333  19.870278  1424.0  11.0  ...  2106.0  2388.5  542.5  8.41
...         ...        ...     ...   ...  ...     ...     ...    ...   ...
9801  77.451160  19.241660  1408.0  11.5  ...  1747.5  2035.0  440.5  8.72
9802  77.422618  18.327200  1378.5  16.0  ...  1372.0  1554.0  358.0  7.52
9803  77.823333  18.843889  1449.5  21.0  ...  1458.0  1667.5  375.5  7.00
9804  77.517882  18.467689  1442.5  14.5  ...  1731.0  2014.0  445.0  7.43
9805  77.524953  18.538106  1425.5  17.5  ...  1436.0  1692.0  354.0  7.42

[9806 rows x 16 columns]

In [46]:
def splitting(data,training_split=0.8):
  
  data = data.to_numpy()
  np.random.shuffle(data)
  train_set= data[0:int(len(data)*training_split)]
  test_set = data[int(len(data)*training_split):]
  
  print(len(data), len(train_set), len(test_set))

splitting(data)

9806 7844 1962